::ng-deep {
    .ui-dialog-content {
        .ui-grid-row {
            margin-bottom: 6px;
        }
    
        .ui-panel-content {
            p-spinner {
                input {
                    &.ui-spinner-input {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

p-footer ::ng-deep {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #d3e1f1;
    width: 100%;
    display: block;
    text-align: right;

    button {
        border: none;
        &:last-child {
            margin: 0 0.5em 0 0;
            width: auto;
        }
    }
}