<!-- Add Dialog Box -->
<p-dialog header="{{ LANGAGE.ADD }}" 
    [(visible)]="displayModal" 
    [modal]="true" 
    [responsive]="true" 
    [style]="{minWidth: '30%', minHeight: '250px', maxHeight: '500px', 'overflow-y': 'auto'}" 
    [maximizable]="true" 
    [baseZIndex]="10000"
    [styleClass]="'no-dynamic'"
    [closable]="false"
    [closeOnEscape]="false"
    (onShow)="onShow($event)">
    <div class="ui-grid ui-grid-responsive ui-fluid">
        <p-panel *ngFor="let gPanel of groupPanel" [header]="gPanel" [style]="{'margin-bottom':'20px'}">
            <div class="ui-grid-row" *ngFor="let col of groupAddPanelForm[gPanel]">
                <div class="ui-grid-col-4">
                    <label for="{{ col.field }}">
                        {{ col.header }} <span *ngIf="col.required">*</span>
                    </label>
                </div>
                <ng-container #inputType [ngSwitch]="col.inputType">
                    <div class="ui-grid-col-8" *ngSwitchCase="'input'">
                        <input pInputText type="text" 
                            autocomplete="off"
                            [(ngModel)]="itemToAdd[col.field]" 
                            (ngModelChange)="onDialogAddChange(col.onchange, col, itemToAdd)"
                            [disabled]="col.disabled"
                            [ngClass]="{'invalid-field': checkValidField(col.field)}"
                            [placeholder]="col.placeholder ? col.placeholder : ''"
                            [pTooltip]="(col.tooltip && col.tooltip.text) ? col.tooltip.text : ''" 
                            [tooltipPosition]="col.tooltipPosition ? col.tooltipPosition : 'top'"
                            tooltipZIndex="9999999"
                            [escape]="false" />
                    </div>
                    <div class="ui-grid-col-8" *ngSwitchCase="'date'">
                        <input pInputText 
                            type="text" 
                            [ngClass]="{'invalid-field': checkValidField(col.field)}"
                            [placeholder]="col.placeholder ? col.placeholder : 'dd/MM/yyyy'"
                            [pTooltip]="(col.tooltip && col.tooltip.text) ? col.tooltip.text : ''" 
                            [tooltipPosition]="col.tooltipPosition ? col.tooltipPosition : 'top'"
                            tooltipZIndex="9999999"
                            [disabled]="col.disabled"
                            [(ngModel)]="itemToAdd[col.field]"
                            [escape]="false">
                    </div>
                    <div class="ui-grid-col-8" *ngSwitchCase="'pcalendar'">
                        <p-calendar [(ngModel)]="itemToAdd[col.field]" 
                            [showIcon]="true" 
                            [placeholder]="col.placeholder ? col.placeholder : 'dd/MM/yyyy'"
                            dateFormat="dd/mm/yy" 
                            [locale]="col.locale || locale" 
                            appendTo="body" 
                            size="10" 
                            icon="pi pi-calendar-plus"
                            baseZIndex="11102"
                            dataType="string">
                        </p-calendar>
                    </div>
                    <div class="ui-grid-col-8" *ngSwitchCase="'hidden'">
                        <input pInputText type="hidden" [(ngModel)]="itemToAdd[col.field]" />
                    </div>
                    <div class="ui-grid-col-8" *ngSwitchCase="'autocomplete'">
                        <p-autoComplete delay="1000" 
                            [(ngModel)]="itemToAdd[col.field]" 
                            [suggestions]="col.options" 
                            (completeMethod)="onAutoComplete($event, col)" 
                            (onSelect)="onDialogAddChange(col.onchange, col, itemToAdd)"
                            [forceSelection]="col.required"
                            [field]="col.keyField"
                            [emptyMessage]="col.emptyMessage"
                            [dropdown]="true"
                            [ngClass]="{'invalid-field': checkValidField(col.field)}"
                            [placeholder]="col.placeholder ? col.placeholder : ''"
                            [pTooltip]="(col.tooltip && col.tooltip.text) ? col.tooltip.text : ''" 
                            [tooltipPosition]="col.tooltipPosition ? col.tooltipPosition : 'top'"
                            tooltipZIndex="9999999"
                            [escape]="false">
                        </p-autoComplete>
                    </div>
                    <div class="ui-grid-col-8" *ngSwitchCase="'select'">
                        <p-dropdown [optionLabel]="col.keyField ? col.keyField : null" 
                            [dataKey]="col.dataKey ? col.dataKey : null"
                            [options]="col.options" 
                            [(ngModel)]="itemToAdd[col.field]" 
                            (ngModelChange)="onDialogAddChange(col.onchange, col, itemToAdd)"
                            [ngClass]="{'invalid-field': checkValidField(col.field)}"
                            [pTooltip]="(col.tooltip && col.tooltip.text) ? col.tooltip.text : ''" 
                            [tooltipPosition]="col.tooltipPosition ? col.tooltipPosition : 'top'"
                            tooltipZIndex="9999999"
                            [escape]="false"
                            [filter]="col.options && col.options.length > 20"
                            [placeholder]="col.placeholder ? col.placeholder : null"
                            autoDisplayFirst="false"
                            showClear="true">
                        </p-dropdown>
                    </div>
                    <div class="ui-grid-col-8" *ngSwitchCase="'textarea'">
                        <textarea [rows]="5" [cols]="30" pInputTextarea 
                            autoResize="autoResize" 
                            [disabled]="col.disabled" 
                            [(ngModel)]="itemToAdd[col.field]"
                            (ngModelChange)="onDialogAddChange(col.onchange, col, itemToAdd)"
                            [ngClass]="{'invalid-field': checkValidField(col.field)}"
                            [placeholder]="col.placeholder ? col.placeholder : ''"
                            [pTooltip]="(col.tooltip && col.tooltip.text) ? col.tooltip.text : ''" 
                            [tooltipPosition]="col.tooltipPosition ? col.tooltipPosition : 'top'"
                            tooltipZIndex="9999999"
                            [escape]="false">
                        </textarea>
                    </div>
                    <div *ngSwitchCase="'checkbox'">
                        <p-checkbox binary="true" 
                            [value]="false !== col[col.field]" 
                            [(ngModel)]="itemToAdd[col.field]" 
                            (ngModelChange)="onDialogAddChange(col.onchange, col, itemToAdd)"
                            [disabled]="col.disabled"
                            [pTooltip]="(col.tooltip && col.tooltip.text) ? col.tooltip.text : ''" 
                            [tooltipPosition]="col.tooltipPosition ? col.tooltipPosition : 'top'"
                            tooltipZIndex="9999999"
                            [escape]="false">
                        </p-checkbox>
                    </div>
                    <div *ngSwitchCase="'spinner'">
                        <p-spinner pInputText 
                            [(ngModel)]="itemToAdd[col.field]" 
                            [disabled]="col.disabled"
                            [ngClass]="{'invalid-field': checkValidField(col.field)}"
                            [placeholder]="col.placeholder ? col.placeholder : ''"
                            [pTooltip]="(col.tooltip && col.tooltip.text) ? col.tooltip.text : ''" 
                            [tooltipPosition]="col.tooltipPosition ? col.tooltipPosition : 'top'"
                            class="nsi-spinner">
                        </p-spinner>
                    </div>
                    <div class="ui-grid-col-8" *ngSwitchCase="'password'">
                        <input pPassword type="password" 
                            autocomplete="off"
                            [(ngModel)]="itemToAdd[col.field]" 
                            (ngModelChange)="onDialogAddChange(col.onchange, col, itemToAdd)"
                            [placeholder]="col.placeholder ? col.placeholder : ''"
                            [disabled]="col.disabled"
                            [ngClass]="{'invalid-field': checkValidField(col.field)}" />
                    </div>
                </ng-container>
            </div>
        </p-panel>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <p-messages [(value)]="warningMsgs"></p-messages>
            </div>
        </div>
    </div>
    <p-footer>
        <button mat-button (click)="onAddModalClose()"><i class="pi pi-times"></i> {{ LANGAGE.CANCEL }}</button>
        <button mat-button (click)="onAddRowClick(itemToAdd)"><i class="pi pi-plus"></i> {{ LANGAGE.SAVE }}</button>
    </p-footer>
</p-dialog>