<div class="ui-g-12 item-cm" [hidden]="false === isActive() && col">
    <div class="ui-g-12 title">
        {{ LANGAGE.FILTERS.STRING.INFO }} "{{ col?.header }}"
    </div>
    <div class="ui-g-12">
        <input pInputText type="text" [(ngModel)]="inputText" (ngModelChange)="onFilter($event)">
    </div>
</div>