<div class="ui-g-12 item-cm" [hidden]="!isActive() && col">
    <div class="ui-g-12 title">
        {{ LANGAGE.FILTERS.MULTIPLE.INFO }} "{{ col?.header }}"
    </div>
    <div class="ui-g-12">
        <p-multiSelect [options]="items" 
            optionLabel="label" 
            filter="true" 
            filterBy="label" 
            (onChange)="onMultiSelectChange($event)"
            [defaultLabel]="LANGAGE.FILTERS.MULTIPLE.DEFAULT_LABEL">
        </p-multiSelect>
    </div>
</div>