@import '../../sass/variables';
@import '../../sass/mixins';
@import '../../sass/fonts';
@import '../../sass/spacing-helpers';
@import '../../sass/keyframes';

// Problème bug fontAwesome:
i {
    &.fa,
    &.fas {
        font-family: "FontAwesome";
    }
}

.disabled {
    color: $disabled;
}

.spin {
    @include animation(spin 1s linear infinite);
}

// ::ng-deep : sans ça, on n'arrive pas à atteindre les éléments à cause des ajouts de 
// dynamiques dans le html et le sass lors de la compilation par angular
#table-component ::ng-deep {
    font-family: $fontFamily;
    font-size: 14px;
    
    .title-table {
        width: 100%;
        padding: 10px 0;
        position: relative;

        &:after {
            position: absolute;
            width: 100%;
            height: 2px;
            content: " ";
            background: $bgGreen;
            bottom: 7px;
            left: 0;
        }
    }
    
    p-table {
        .ui-table {
            .ui-table-thead {
                border-bottom: 3px solid rgba($bdHorizontalTableHeaderRow, 0.3);
                &> tr {
                    &> th {
                        text-transform: uppercase;
                        background-color: $bgHeaderTable;
                        border-right: 1px solid $bdRightTableHeaderCell;
                        vertical-align: middle;
                        text-align: center;
                        position: relative;

                        &.active {
                            background-color: $bgGreen !important;
                            color: #FFFFFF;
                        }

                        &.sort-az,
                        &.sort-za {
                            &:before {
                                content: " ";
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 3px;
                                background-color: $bgGreen;
                            }
                        }

                        &.sort-za {
                            &:before {
                                top: auto;
                                bottom: -3px;
                            }
                        }
                    }
                }
            }

            
            .ui-table-wrapper {
                thead {
                    tr {
                        &:nth-child(2) {
                            th {
                                background: $bgHeaderTable !important;
                                background-image: none !important;
                                
                                &.active {
                                    background-color: $bgGreen !important;
                                    color: #FFFFFF;
                                }
                            }
                        }
                    }
                }
            }

            .ui-table-tbody {
                &> tr {

                    td {
                        @include transition(all .2s);
                        color: $text;
                        font-size: 14px;
                        border: 1px solid $borderTableCell;
                        border-left: 1px solid $bdRightTableHeaderCell;
                        border-right: 1px solid $bdRightTableHeaderCell;
                        
                        &.cell-error {
                            border: 2px solid $error;
                        }

                        &.icon-cell {
                            text-align: center;
                            max-width: 100%;
                            margin: 0 auto;
                            i {
                                font-style: normal;
                                cursor: pointer;
                                transition: color 500ms;
                                &:hover {
                                    color: #5d5d5d;
                                }
                            }

                            div {
                                position: relative;
                                span {
                                    position: absolute;
                                    top: -10px;
                                    right: -7px;
                                    font-size: 8px;
                                    font-weight: bold;
                                    width: 10px;
                                    height: 10px;
                                    box-shadow: 1px 1px 2px rgba(0,0,0,.5);
                                    border-radius: 50%;
                                    background: #eae5ff;
                                }
                            }
                        }

                        &.grouped-cell {
                            background-color: #c1c1c1;

                            &:hover {
                                background-color: #FFFFFF;
                                color: $gray;
                            }

                            i {
                                font-style: normal;
                                position: relative;
                                top: 3px;
                                color: $gray;

                                &.fa-sort-down {
                                    top: 0;
                                }

                                // &:before {
                                    // font-family: "fontAwesome";
                                // }
                            }

                            span {
                                font-weight: bold;
                            }
                        }

                        &.grouped-footer {
                            text-align: right;
                            height: 32px;
                            font-weight: bold;
                            background-color: #D3D3D3;

                            &:hover {
                                color: $gray;
                            }
                        }

                        /* input,
                        select,
                        p-dropdown {
                            max-width: 100%;
                        } */
                    }

                    &:hover {
                        td:not(.grouped-footer) {
                            background-color: $bgHoverRow;
                            color: #FFFFFF;
                        }
                    }

                    &:nth-child(even) {
                        background-color: $bgRownth2;
                    }

                    &.error-row {
                        border-top: 2px solid $error;
                        border-bottom: 2px solid $error;
                        td {
                            &:first-child {
                                border-left: 2px solid $error;
                            }

                            &:last-child {
                                border-right: 2px solid $error;
                            }
                        }
                    }

                    &.disable-row {
                        td {
                            position: relative;

                            &:before {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 3;
                                content: " ";
                                background-color: rgba(202, 179, 50, 0.4);
                            }
                        }
                    }
                }
            }

            .ui-table-caption {
                margin: 0;
                padding: 0;
                border-style: none;
                border-color: none;
                background-image: none;
                background: none !important;
                background-image: none !important;
                background-image: none !important;
                border-bottom: none !important;
                float: right;

                .btn-group {
                    height: auto;
                    width: 100%;
                    line-height: 20px;
                    display: inline-block;
                    position: relative;
            
                    div {
                        float: left;
                    }
            
                    .data-search {
                        width: 100%;
                        text-align: left;
                        position: relative;
                        top: -4px;
                        .input-search {
                            input[type='text'] {
                                width: 0;
                                height: 0;
                                visibility: hidden;
                                opacity: 0;
                                @include transition(all .2s);
                            }
                        }
            
                        &.show-input {
                            .input-search {
                                input[type='text'] {
                                    visibility: visible;
                                    opacity: 1;
                                    width: 200px;
                                    height: 27px;
                                }
                            }
                        }

                        span {
                            margin-right: 7px;

                            i {
                                font-size: 24px;
                                // padding: 5px 0 10px;
                                font-style: normal;
                                top: 6px;
                                position: relative;

                                // &.disabled {
                                    // color: lighten($green, 20%);
                                // }
                            }

                            &.grouped-rows {
                                float: right;
                                display: block;
                                height: 35px;
                                overflow: hidden;
                                top: -7px;
                                position: relative;
                                
                                &.clignote {
                                    @include animation(clignote 1s);
                                }
                                i {
                                    &:hover {
                                        cursor: pointer;
                                    }
                                    
                                    &:first-child {
                                        margin-right: 5px;
                                        position: relative;
                                        top: 18px;
                                        font-size: 40px;
                                    }

                                    &:nth-child(2) {
                                        position: relative;
                                        top: -1px;
                                        font-size: 40px;
                                    }

                                    &:last-child {
                                        margin-left: 7px;
                                        position: relative;
                                        top: 1px;
                                    }
                                }
                            }

                            &.result {
                                font-size: 10px;
                                font-weight: 400;
                            }
                        }
                    }

                    .toggle-columns {
                        div {
                            float: none;
                            min-height: 25px;

                            &.ui-multiselect {
                                width: 200px;
                            }
                        }
                        .ui-inputwrapper-filled {
                            top: 8px;
                            position: relative;
                            .ui-multiselect {
                                .ui-multiselect-label-container {
                                    .ui-multiselect-label {
                                        height: 25px;
                                        line-height: 18px;
                                        top: -2px;
                                        position: relative;
                                    }
                                }
                            }
                        }

                        .ui-multiselect-panel {
                            .ui-multiselect-items {
                                .ui-multiselect-item {
                                    margin-bottom: 1px;

                                    &.ui-state-highlight {
                                        background-color: $green;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .ui-paginator-bottom {
            display: none;

            &.custom-paginator {
              display: inline-block;
            }
        }
    }
}

@import '../../sass/table-tooltip';
@import '../../sass/p-spinner';
@import '../../sass/p-paginator';
