<div id="table-component">

  <div class="title-table" *ngIf="configList.title">
    {{ configList.title }}
  </div>

  <p-table #tb [value]="value"
    [columns]="columns"
    
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    sortMode="single" 
    reorderableColumns="true"
    [resetPageOnSort]="false"
    
    [contextMenu]="cm"
    [(contextMenuSelection)]="selectedRow"
    [(selection)]="selectedRow"
    (onContextMenuSelect)="contextMenuSelection($event.data)"
    selectionMode="single"

    [paginator]="paginator"
    [rows]="rows" 
    [first]="first"
    [totalRecords]="totalRecords"
    [rowTrackBy]="trackByIndexColumn">

    <!-- BTN GROUP //-->
    <ng-template pTemplate="caption">
      <div class="btn-group" *ngIf="{activeSearch: true} as btnGroup">
        <div class="data-search" [ngClass]="{'show-input': btnGroup.activeSearch === true}">
          <span class="result" *ngIf="totalRecords > 1">
            {{ totalRecords }} {{ LANGAGE.RESULTS }}
          </span>
          <span class="result" *ngIf="totalRecords <= 1">
            {{ totalRecords }} {{ LANGAGE.RESULT }}
          </span>
          <span>
            <i class="pi pi-plus" (click)="onAdd()" [ngClass]="{'disabled': !bodyTable.canAdd && !bodyTable.controlAdd}"></i>
          </span>
          <span class="toggle-columns">
            <p-multiSelect [options]="cleanedColumns" 
              [(ngModel)]="selectedColumns" 
              [style]="{minWidth: '200px'}" 
              (onClick)="onClickMultiSelectColumn($event)"
              [defaultLabel]="LANGAGE.COLUMNS.DEFAULT_LABEL" 
              [selectedItemsLabel]="LANGAGE.COLUMNS.SELECTED"
              *ngIf="bodyTable.rows && bodyTable.rows.length > 0">
            </p-multiSelect>
          </span>
          <span [hidden]="btnGroup.activeSearch === true"><i class="pi pi-search" (click)="btnGroup.activeSearch = true; globalsearch.focus()"></i></span>
          <span class="input-search">
            <input #globalsearch type="text" pInputText size="50" 
              placeholder="{{ LANGAGE.PLACEHOLDER_SEARCH }}" 
              (input)="pTable.filterGlobal($event.target.value, 'contains')"
              autocomplete="off">
          </span>
          <span>
            <i class="pi pi-times" 
              (click)="btnGroup.activeSearch = false; globalsearch.value = ''; onResetFilter()" 
              *ngIf="btnGroup.activeSearch !== false"></i>
          </span>
          <span class="grouped-rows">
            <i class="pi pi-sort-up" 
              id="sortrows-up"
              [title]="LANGAGE.FILTERS.GROUP.CONTRACT" 
              (click)="toggleRowExpand()" 
              [ngClass]="{'disabled': groupedRowExpand === false}"></i>

            <i class="pi pi-sort-down" 
              id="sortrows-down"
              [title]="LANGAGE.FILTERS.GROUP.EXPAND" 
              (click)="toggleRowExpand(true)" 
              [ngClass]="{'disabled': groupedRowExpand === true}"></i>

            <i class="pi pi-align-justify" 
              [title]="LANGAGE.FILTERS.GROUP.INFO_UNGROUPED" 
              (click)="onUnGroupColumn()"></i>

          </span>
        </div>
      </div>
    </ng-template>
    <!-- BTN GROUP //-->

    <!-- HEADER TABLE -->
    <ng-template pTemplate="header" let-columns>

      <ng-container *ngFor="let column of columns">
        <tr>
          <ng-container *ngFor="let col of column">

            <ng-container *ngIf="col.field; else withOutField">
              <th #th [nsiContextMenuHeader]="col"
                (mouseleave)="hideContextMenuHeader($event)"
                *ngIf="col.field && col.inputType != 'hidden' && col.display !== false"
                [attr.width]="col.width ? col.width : 'auto'"
                [attr.rowspan]="col.rowspan ? col.rowspan : 1"
                [attr.colspan]="col.colspan ? col.colspan : 1">
                <div [ngStyle]="col.thStyle || {}">{{ col.header }}</div>

                <!-- CONTEXT MENU HEADER -->
                <cm-header [cMHeader]="col" [cMTableParent]="tb" [cMParent]="th" [cMDataTable]="value"></cm-header>
              </th>
            </ng-container>

            <!-- DEB > COLONNES SANS CONTEXTMENU (rowspan, colspan...) CAR SANS .field //-->
            <ng-template #withOutField>
              <th [attr.width]="col.width ? col.width : 'auto'"
                [attr.rowspan]="col.rowspan ? col.rowspan : 1"
                [attr.colspan]="col.colspan ? col.colspan : 1">
                <div [ngStyle]="col.thStyle || {}">{{ col.header }}</div>
              </th>
            </ng-template>
            <!-- FIN > COLONNES SANS CONTEXTMENU (rowspan, colspan...) CAR SANS .field //-->

          </ng-container>
        </tr>
      </ng-container>

    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex" let-expanded="expanded">

      <tr [pContextMenuRow]="rowData" 
        [onReject]="bodyTable.onReject" 
        [onUpdate]="bodyTable.onUpdate"
        [onDelete]="bodyTable.onDelete"
        [indexColumn]="bodyTable.indexColumn"
        [onDisableRow]="bodyTable.onDisableRow"
        [onAdd]="bodyTable.onAdd"
        [nsiOnNotifyRow]="rowData" 
        [nsiOnNotifyColumns]="columns"
        [onDblclickRow]="rowData.inputType != LANGAGE.TABLE_TYPE.GROUPED_EDIT ? rowData : null">

        <ng-container *ngIf="rowData.inputType == LANGAGE.TABLE_TYPE.GROUPED_EDIT; else groupedEditFooter">
          <td [attr.colspan]="getColSpan()" 
            class="grouped-cell"
            (click)="toggleGrouped(rowData.field, rowData.key)">
            <i [ngClass]="{
              'pi': true,
              'pi-sort-up': !toggleGroupedIcon(rowData.key),
              'pi-sort-down': toggleGroupedIcon(rowData.key)
            }"></i> {{ rowData.header }} : <span>{{ rowData.key }}</span>
          </td>
        </ng-container>

        <ng-template #groupedEditFooter>
          <ng-container *ngIf="rowData.inputType == LANGAGE.TABLE_TYPE.GROUPED_EDIT_FOOTER && rowData.cells && rowData.cells.length > 0; else normalRow">
            <ng-container *ngFor="let cell of rowData.cells">
              <td [attr.colspan]="cell.colspan" [ngStyle]="{
                'background-color': cell.bgColor ? cell.bgColor : null,
                'color': cell.color ? cell.color : null
              }" class="grouped-footer">
                {{ cell.text }}
              </td>
            </ng-container>
          </ng-container>
        </ng-template>

        <ng-template #normalRow>
          <ng-container *ngIf="bodyColumns.length === 0; else reorderBodyColumns">
            <ng-container *ngFor="let column of columns">
              <ng-container *ngFor="let col of column">
                <td #tableCell NsiTableCell
                  *ngIf="(!col.icon && col.field && col.inputType != 'hidden' && col.display !== false) && bodyTable.canEdit !== false"
                  [nsiTooltip]="col"
                  [nsiTableCell]="tableCell"
                  [col]="col"
                  [value]="rowData"
                  [ngStyle]="col.ngStyle ? col.ngStyle(rowData) : {}"
                  [ngClass]="col.ngClass ? col.ngClass(rowData) : {}"></td>
    
                <td #tableCell *ngIf="(!col.icon && col.field && col.inputType != 'hidden' && col.display !== false) && bodyTable.canEdit === false"
                  [nsiTooltip]="col"
                  [nsiTableCell]="tableCell"
                  [value]="rowData"
                  [ngStyle]="col.ngStyle ? col.ngStyle(rowData) : {}"
                  [ngClass]="col.ngClass ? col.ngClass(rowData) : {}">
                  {{ rowData[col.field] }}
                </td>
    
                <td *ngIf="col.icon && col.icon.cb && col.display !== false" 
                  [innerHTML]="col.icon.cb(col, rowData)" 
                  class="icon-cell" 
                  (click)="col.icon.onClick ? col.icon.onClick(col, rowData) : null"
                  [ngStyle]="col.ngStyle ? col.ngStyle(rowData) : {}"
                  [ngClass]="col.ngClass ? col.ngClass(rowData) : {}">
                </td>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-template>
          
        <ng-template #reorderBodyColumns>
          <ng-container *ngFor="let col of bodyColumns">
            <td #tableCell NsiTableCell
              *ngIf="(!col.icon && col.field && col.inputType != 'hidden' && col.display !== false) && bodyTable.canEdit !== false"
              [nsiTooltip]="col"
              [nsiTableCell]="tableCell"
              [col]="col" 
              [value]="rowData" 
              [ngStyle]="col.ngStyle ? col.ngStyle(rowData) : {}"
              [ngClass]="col.ngClass ? col.ngClass(rowData) : {}"></td>

            <td #tableCell *ngIf="(!col.icon && col.field && col.inputType != 'hidden' && col.display !== false) && bodyTable.canEdit === false"
              [nsiTooltip]="col"
              [nsiTableCell]="tableCell"
              [value]="rowData" 
              [ngStyle]="col.ngStyle ? col.ngStyle(rowData) : {}"
              [ngClass]="col.ngClass ? col.ngClass(rowData) : {}">
              {{ rowData[col.field] }}
            </td>

            <td *ngIf="col.icon && col.icon.cb && col.display !== false" 
              [innerHTML]="col.icon.cb(col, rowData)" 
              class="icon-cell" 
              (click)="col.icon.onClick ? col.icon.onClick(col, rowData) : null"
              [ngStyle]="col.ngStyle ? col.ngStyle(rowData) : {}"
              [ngClass]="col.ngClass ? col.ngClass(rowData) : {}">
            </td>
          </ng-container>
        </ng-template>
        
      </tr>

    </ng-template>

  </p-table>

  <!-- PAGINATOR //-->
  <p-paginator #paginator [ngClass]="{'custom-paginator': true}" 
    [totalRecords]="totalRecords"
    [first]="first"
    [pageLinkSize]="pageLinkSize"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [alwaysShow]="true"
    (onPageChange)="onPageChange($event)"
    [rows]="rows"
    [showCurrentPageReport]="showCurrentPageReport"
    [currentPageReportTemplate]="currentPageReportTemplate">
  <!--
    [showCurrentPageReport]="true"
  -->
  </p-paginator>

  <!-- TOOLTIP ROW/CELL //-->
  <tooltip></tooltip>

  <!-- CONTEXTMENU TABLE //-->
  <p-contextMenu #cm [model]="contextMenuItems" appendTo="body"></p-contextMenu>

  <!-- CONFIRMATION DIALOG //-->
  <p-confirmDialog #cd>
    <p-footer>
      <button type="button" pButton icon="pi pi-times" [label]="LANGAGE.FALSE" (click)="cd.reject()"></button>
      <button type="button" pButton icon="pi pi-check" [label]="LANGAGE.TRUE" (click)="cd.accept()"></button>
    </p-footer>
  </p-confirmDialog>

  <!-- ADD MODAL //-->
  <add-modal *ngIf="bodyTable" [displayAddDialog]="displayAddDialog"
      [groupPanel]="[]"
      [columns]="bodyTable.columns"
      (onClose)="onCloseAdd()">
  </add-modal>

</div>