<div class="ui-g-12 item-cm" [hidden]="!isActive() && col">
    <div class="ui-g-12 title">
        {{ LANGAGE.FILTERS.SORT.INFO }} "{{ col?.header }}"
    </div>
    <div class="ui-g-2">
        <p-radioButton name="sortBy" label="A-Z" value="ASC" [(ngModel)]="sortByValue" (onClick)="onClick(LANGAGE.SORT_TYPE.ASC)"></p-radioButton>
    </div>
    <div class="ui-g-10">
        <p-radioButton name="sortBy" label="Z-A" value="DESC" [(ngModel)]="sortByValue" (onClick)="onClick(LANGAGE.SORT_TYPE.DESC)"></p-radioButton>
    </div>
</div>