@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@keyframes clignote {
    0%{opacity: 1;}
    12%{opacity: 0;}
    25%{opacity: 1;}
    37%{opacity: 0;}
    50%{opacity: 1;}
    62%{opacity: 0;}
    75%{opacity: 1;}
    87%{opacity: 0;}
    100%{opacity: 1;}
}