// @import "~sass-tools/assets/scss/variables";
// @import "~sass-tools/assets/scss/mixins";

$green: #828888;
$gray: #606060;
$error: red;
$disabled: #929292;

/** FONT FAMILY */
$fontFamily: 'Open Sans', sans-serif;

/** TEXT COLOR */
$text: $gray;
$textGreen: $green;
$textError: $error;

/** BACKGROUND */
$bgGreen: $green;
$bgHeaderTable: #ebebeb;
$bgHoverRow: $green;
$bgRownth2: #f7f6f6;

/** BORDER */
$borderTableCell: #ebebeb;
$bdRightTableHeaderCell: #c0c0c0;
$bdHorizontalTableHeaderRow: #929292;
$borderInput: #d6d6d6;
$borderGreen: $green;
$borderError: $error;