.custom-paginator ::ng-deep {
    .ui-paginator {
        padding: 15px 0;
    
        &.ui-widget-header {
            background: transparent !important;
            border: none;
        
            &.ui-widget {
                font: normal 16px $fontFamily, arial, helvetica !important;
                font-weight: 300;
            }
        }
    
        .ui-paginator-page,
        .ui-paginator-pages,
        .ui-paginator-next,
        .ui-paginator-last,
        .ui-paginator-first,
        .ui-paginator-prev,
        .ui-paginator-current {
            .ui-state-active {
                background: $green;
                color: #ffffff;
                border-color: transparent;
            }
        }
    
        .ui-dropdown {
            &.ui-widget {
                font: normal 16px $fontFamily, arial, helvetica !important;
                font-weight: 300;
            }
        }
    
        .ui-state-default {
            border: none;
            background-color: transparent;
        }
        
        .ui-state-highlight {
            background-color: $green;
        }
    }
}