::ng-deep {
    .nsi-spinner {
        border: none;
        padding: 0;
    }
    .ui-spinner {
        padding: 0;
        input {
            &.ui-spinner-input {
                max-width: 55px;
            }
        }
    }
}