/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  cursor: pointer;

  td:first-child {
    position: relative;
  }
}

/* Base styles for the entire tooltip */
[data-tooltip] td:first-child:before,
[data-tooltip] td:first-child:after,
.tooltip td:first-child:before,
.tooltip td:first-child:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:    
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:         
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover td:first-child:before,
[data-tooltip]:hover td:first-child:after,
[data-tooltip]:focus td:first-child:before,
[data-tooltip]:focus td:first-child:after,
.tooltip:hover td:first-child:before,
.tooltip:hover td:first-child:after,
.tooltip:focus td:first-child:before,
.tooltip:focus td:first-child:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip td:first-child:before,
[data-tooltip] td:first-child:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip td:first-child:after,
[data-tooltip] td:first-child:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #FFF;
  background-color: hsla(0, 100%, 100%, 0.9);
  border: 1px solid $borderError;
  color: $textError;
  @include radius(2px);
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip] td:first-child:before,
[data-tooltip] td:first-child:after,
.tooltip td:first-child:before,
.tooltip td:first-child:after,
.tooltip-top td:first-child:before,
.tooltip-top td:first-child:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip] td:first-child:before,
.tooltip td:first-child:before,
.tooltip-top td:first-child:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: $borderError;
  border-top-color: rgba(255, 0, 0, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip] td:first-child:after,
.tooltip td:first-child:after,
.tooltip-top td:first-child:after {
  margin-left: -70px;
}

[data-tooltip]:hover td:first-child:before,
[data-tooltip]:hover td:first-child:after,
[data-tooltip]:focus td:first-child:before,
[data-tooltip]:focus td:first-child:after,
.tooltip:hover td:first-child:before,
.tooltip:hover td:first-child:after,
.tooltip:focus td:first-child:before,
.tooltip:focus td:first-child:after,
.tooltip-top:hover td:first-child:before,
.tooltip-top:hover td:first-child:after,
.tooltip-top:focus td:first-child:before,
.tooltip-top:focus td:first-child:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px); 
}

/* Left */
.tooltip-left td:first-child:before,
.tooltip-left td:first-child:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left td:first-child:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #FFF;
  border-left-color: hsla(0, 100%, 100%, 0.9);
}

.tooltip-left:hover td:first-child:before,
.tooltip-left:hover td:first-child:after,
.tooltip-left:focus td:first-child:before,
.tooltip-left:focus td:first-child:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px); 
}

/* Bottom */
.tooltip-bottom td:first-child:before,
.tooltip-bottom td:first-child:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom td:first-child:before {
    margin-top: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-bottom-color: #FFF;
    border-bottom-color: hsla(0, 100%, 100%, 0.9);
  }
  
  .tooltip-bottom:hover td:first-child:before,
  .tooltip-bottom:hover td:first-child:after,
  .tooltip-bottom:focus td:first-child:before,
  .tooltip-bottom:focus td:first-child:after {
    -webkit-transform: translateY(12px);
    -moz-transform:    translateY(12px);
    transform:         translateY(12px); 
  }
  
  /* Right */
  .tooltip-right td:first-child:before,
  .tooltip-right td:first-child:after {
    bottom: 50%;
    left: 100%;
  }
  
  .tooltip-right td:first-child:before {
    margin-bottom: 0;
    margin-left: -12px;
    border-top-color: transparent;
    border-right-color: #FFF;
    border-right-color: hsla(0, 100%, 100%, 0.9);
  }
  
  .tooltip-right:hover td:first-child:before,
  .tooltip-right:hover td:first-child:after,
  .tooltip-right:focus td:first-child:before,
  .tooltip-right:focus td:first-child:after {
    -webkit-transform: translateX(12px);
    -moz-transform:    translateX(12px);
    transform:         translateX(12px); 
  }
  
  /* Move directional arrows down a bit for left/right tooltips */
  .tooltip-left td:first-child:before,
  .tooltip-right td:first-child:before {
    top: 3px;
  }
  
  /* Vertically center tooltip content for left/right tooltips */
  .tooltip-left td:first-child:after,
  .tooltip-right td:first-child:after {
    margin-left: 0;
    margin-bottom: -16px;
  }