<div class="ui-g-12 item-cm" [hidden]="!isActive() && col">
    <div class="ui-g-12 title">
        {{ LANGAGE.FILTERS.DATE.INFO }} "{{ col?.header }}"
    </div>
    <div class="ui-g-2 p-t-7 p-b-7">
        {{ LANGAGE.FILTERS.DATE.FROM }}
    </div>
    <div class="ui-g-10">
        <p-calendar [(ngModel)]="start_date" 
            [readonlyInput]="false"
            (onInput)="onInput($event)"
            (onClose)="onClose($event)"
            [dateFormat]="dateFormat"></p-calendar>
    </div>
    <div class="ui-g-2 p-t-7 p-b-7">
        {{ LANGAGE.FILTERS.DATE.TO }}
    </div>
    <div class="ui-g-10">
        <p-calendar [(ngModel)]="end_date"
            [readonlyInput]="false"
            (onInput)="onInput($event)"
            (onClose)="onClose($event)"
            [dateFormat]="dateFormat"></p-calendar>
    </div>
</div>