<div class="ui-g-12 item-cm" [hidden]="false === isActive() && col">
  <div class="ui-g-12 title">
      {{ LANGAGE.FILTERS.BINARY.INFO }} "{{ col?.header }}"
  </div>
  <div class="ui-g-12">
      <p-radioButton name="binaryradio" value="true" (click)="onFilter(true)" label="Oui" [ngStyle]="{'margin-right': '10px'}"></p-radioButton>
      <p-radioButton name="binaryradio" value="false" (click)="onFilter(false)"label="Non"></p-radioButton>
  </div>
</div>