<div class="ui-g-12 item-cm toggle">
    <div class="ui-g-6">
        <i id="showhide-col" class="pi pi-times-circle" [title]="LANGAGE.FILTERS.TOGGLE.INFO" (click)="toggle(col)"></i> {{ LANGAGE.FILTERS.TOGGLE.INFO }}
    </div>
    <div class="ui-g-6">
        <i *ngIf="!col.isGrouped" 
            class="pi pi-list" 
            id="grouped-click"
            [title]="LANGAGE.FILTERS.GROUP.INFO" 
            (click)="group(col)"></i> <span *ngIf="!col.isGrouped" >{{ LANGAGE.FILTERS.GROUP.INFO }}</span>

        <i *ngIf="col.isGrouped === true" 
            class="pi pi-align-justify" 
            id="ungrouped-click"
            [title]="LANGAGE.FILTERS.GROUP.INFO_UNGROUPED" 
            (click)="group(col)"></i> <span *ngIf="col.isGrouped === true">{{ LANGAGE.FILTERS.GROUP.INFO_UNGROUPED }}</span>
    </div>
</div>