.item-cm {
    &.toggle {
        font-size: 12px;
        position: relative;
        top: -2px;
        i {    
            position: relative;
            top: 2px;
            font-style: normal;
            font-size: 16px;
            &:hover {
                cursor: pointer;
            }
        }

        span {
            padding-left: 5px;
        }
    }
}