@import '../../sass/variables';
@import '../../sass/mixins';

::ng-deep {
    .ui-tooltip {
        &.ui-widget {
            border: 1px solid $borderGreen !important;
            min-width: 100px;
        }

        .ui-tooltip-text {
            color: $text !important;
            background-color: #FFFFFF !important;
            position: relative;
    
            &:before {
                position: absolute;
                top: -30px;
                left: 0;
                width: 60px;
                height: 30px;
                border-bottom: solid 30px $error;
                border-left: solid 30px transparent;
                border-right: solid 30px transparent;
            }
        }
    }
}