@import '../../sass/variables';
@import '../../sass/mixins';

:host {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bgGreen;
    font-size: 14px;
    line-height: 14px;
    padding: 7px;
    font-family: $fontFamily;
    color: #FFFFFF;
    
    height: auto;
    display: none;
    z-index: 9999;
}

.cm-header ::ng-deep {
    text-transform: none;
    text-align: left;
    font-weight: normal;
    min-width: 330px;
    .reset-filter {
        width: 100%;
        text-align: right;
        font-size: 10px;
        cursor: pointer;
        text-decoration: underline;
    }
    .info-cm {
        width: 100%;

        &.bull-info {
            i {
                margin-right: 10px;
                font-style: normal;
                font-size: 16px;
                height: 25px;
                float: left;
            }
        }

        &.bull-info,
        .item-cm {
            border-bottom: 1px solid #FFFFFF;
            padding: 10px 0;

            .title {
                margin-bottom: 10px;
            }

            .ui-multiselect {
                width: 100%;
                padding: 7px;
            }

            .ui-multiselect-panel {
                .ui-multiselect-header {
                    .ui-multiselect-filter-container {
                        width: 90%;
                        input {
                            padding-left: 20px;
                            margin-left: 5px;
                            width: 90%;
                        }
                        .ui-multiselect-filter-icon {
                            top: 0.75em;
                            left: auto;
                            /* left: .425em; */
                            right: 4.125em;
                            color: $textGreen;
                        }
                    }
                }
                .ui-multiselect-item {
                    padding: .325em .25em;
                    color: $text;
                    .ui-chkbox {
                        margin-right: 0;
                        left: 9px;
                        position: relative;
                    }
                    .ui-chkbox-box {
                        margin-right: 5px;

                        &.ui-state-active {
                            border: 1px solid $text;
                            background: transparent;
                            color: $text;
                        }

                        span {
                            left: 0px;
                            top: 0px;
                        }
                    }
                    span {
                        font-size: 14px;
                        top: 0;
                        left: 21px;
                        position: relative;
                    }

                    &.ui-state-highlight {
                        background-color: transparent;
                        color: $text;
                    }
                }
            }
        }

        &:last-child {
            .item-cm {
                border-bottom: none;
            }
        }

        input {
            width: 100%;
            padding: 7px;
            border: 1px solid $borderInput;
            color: $text;
        }

        .ui-calendar {
            width: 100%;
            position: relative;
            &:after {
                font-family: "PrimeIcons";
                content: "\e927";
                position: absolute;
                top: 7px;
                right: 10px;
                color: $green;
            }
        }
    }
}