<div class="ui-g cm-header" [hidden]="hideContextMenu">
    <div class="ui-g-12 reset-filter">
        <span (click)="resetFilter()">{{ LANGAGE.CONTEXTMENU_HEADER.REMOVE_FILTER }}</span>
    </div>
    <!-- <div class="ui-g-12 info-cm bull-info">
        <div class="ui-g-12">
            <i class="{{ LANGAGE.CONTEXTMENU_HEADER.ICON_INFO }}"></i> <span>{{ LANGAGE.CONTEXTMENU_HEADER.INFO }}</span>
        </div>
    </div> //-->
    <sort-az *ngIf="col && col.field" class="info-cm" [col]="col" [parent]="parentElement"></sort-az>
    <filter-date *ngIf="col && col.field" class="info-cm" [col]="col" [parent]="parentElement"></filter-date>
    <filter-value *ngIf="col && col.field" class="info-cm" [col]="col" [parent]="parentElement"></filter-value>
    <filter-multiselect *ngIf="col && col.field" class="info-cm" [col]="col" [parent]="parentElement" [dataTable]="dataTable"></filter-multiselect>
    <filter-binary *ngIf="col && col.field" class="info-cm" [col]="col" [parent]="parentElement"></filter-binary>
    <filter-toggle *ngIf="col && col.field" class="info-cm" [col]="col"></filter-toggle>
</div>