@import '../../sass/variables';
@import '../../sass/mixins';

::ng-deep {
    td {
        span {
            &.ui-editing-cell {
                width: 100%;
                display: inline-block;
                position: relative;
            }
        }

        .selectmultiple {
            .tag {
                color: #FFFFFF;
                background: $green;
                padding: 2px 4px;
                margin: 2px;
                display: inline-block;
                border-radius: 5px;
            }
        }
    }

    .ui-dropdown {
        .ui-dropdown-clear-icon {
            left: -10px;
            top: -1px;
            font-size: 1.5em;
            height: 1.5em;
        }
    }
}