<ng-container [ngSwitch]="col.inputType">
    <span [pEditableColumn]="value" 
        [pEditableColumnField]="col.field"
        *ngSwitchCase="'input'">
        <p-cellEditor>
            <ng-template pTemplate="input">
                <input pInputText type="text" 
                    [(ngModel)]="value[col.field]" 
                    (ngModelChange)="onUpdate(value, col)"
                    [placeholder]="col.placeholder ? col.placeholder : ''"
                    [disabled]="col.disabled"
                    (focusout)="onEditSopped(col.field, value)"
                    (keydown.enter)="onEditSopped(col.field, value)"
                    (keydown.esc)="onEditSopped(col.field, value)"
                    autocomplete="off">
            </ng-template>
            <ng-template pTemplate="output">
                <span (click)="clickEvent(col.field, value)"
                    [ngStyle]="col.ngStyle ? col.ngStyle(value) : {}">
                    {{ value[col.field] ? value[col.field] : LANGAGE.EMPTY_COL }}
                </span>
            </ng-template>
        </p-cellEditor>
    </span>

    <span [pEditableColumn]="value" 
        [pEditableColumnField]="col.field"
        *ngSwitchCase="'select'">        
        <p-cellEditor>
            <ng-template pTemplate="input">
                <ng-container *ngIf="col.permitUpdade !== false && !col.disabled; else notPermitUpdade">
                    <p-dropdown [optionLabel]="col.keyField ? col.keyField : null" 
                        [dataKey]="col.dataKey ? col.dataKey : null"
                        [options]="col.options" 
                        [(ngModel)]="value[col.field]" 
                        [style]="{'width':'100%'}" 
                        (ngModelChange)="onUpdate(value, col)"
                        [required]="col.required"
                        autoDisplayFirst="false"
                        [filter]="col.options.length > 5"
                        [disabled]="col.disabled"
                        [editable]="col.editable === false ? false : true"
                        (focusout)="onEditSopped(col.field, value)"
                        (keydown.esc)="onEditSopped(col.field, value)"
                        showClear="true"
                        scrollHeight="400px">
                    </p-dropdown>
                </ng-container>
                <ng-template #notPermitUpdade>
                    <span (click)="clickEvent(col.field, value)">{{ getDropdownValue(col, value) }}</span>
                </ng-template>
            </ng-template>
            <ng-template pTemplate="output">
                <span (click)="clickEvent(col.field, value)">{{ getDropdownValue(col, value) }}</span>
            </ng-template>
        </p-cellEditor>
    </span>

    <span [pEditableColumn]="value" 
        [pEditableColumnField]="col.field" 
        *ngSwitchCase="LANGAGE.COLUMNS.INPUT_TYPE.MULTISELECT">
        <p-cellEditor>
            <ng-template pTemplate="input">
                <p-multiSelect [optionLabel]="col.keyField ? col.keyField : null" 
                    [dataKey]="col.dataKey ? col.dataKey : null"
                    [options]="col.options"
                    [(ngModel)]="value[col.field]"
                    [style]="{'width':'100%'}"
                    (ngModelChange)="onUpdate(value, col)"
                    [required]="col.required"
                    [disabled]="col.disabled"
                    (focusout)="onEditSopped(col.field, value)"
                    (keydown.esc)="onEditSopped(col.field, value)">
                </p-multiSelect>
            </ng-template>
            <ng-template pTemplate="output">
                <span (click)="clickEvent(col.field, value)">
                    <div class="selectmultiple" *ngIf="value[col.field] && value[col.field].length">
                        <span class="tag" *ngFor="let id of value[col.field]">{{ getSelectMultipleLabel(id, col) }}</span>
                    </div>
                </span>
            </ng-template>
        </p-cellEditor>
    </span>

    <span [pEditableColumn]="value" 
        [pEditableColumnField]="col.field" 
        *ngSwitchCase="'checkbox'">
        <p-checkbox binary="true" 
            [value]="false !== value[col.field]" 
            [(ngModel)]="value[col.field]" 
            (ngModelChange)="onUpdate(value, col)"
            [disabled]="col.disabled"
            (click)="clickEvent(col.field, value)">
        </p-checkbox>
    </span>

    <span 
        [pEditableColumn]="value" 
        [pEditableColumnField]="col.field" 
        *ngSwitchCase="'autocomplete'">
        <p-cellEditor>
            <ng-template pTemplate="input">
                <p-autoComplete delay="1000" 
                    [(ngModel)]="value[col.field]" 
                    [suggestions]="col.options" 
                    (completeMethod)="onAutoComplete($event, col)" 
                    [forceSelection]="true"
                    [field]="col.keyField ? col.keyField : null"
                    [emptyMessage]="col.emptyMessage ? col.emptyMessage : ''"
                    [dropdown]="true"
                    (onSelect)="onUpdate(value, col)"
                    [required]="col.required"
                    [disabled]="col.disabled"
                    (focusout)="onEditSopped(col.field, value)"
                    (keydown.esc)="onEditSopped(col.field, value)">
                </p-autoComplete>
            </ng-template>
            <ng-template pTemplate="output">
                <span (click)="clickEvent(col.field, value)">{{ 
                    (value[col.field] && value[col.field][col.keyField]) 
                    ? value[col.field][col.keyField] 
                    : value[col.field] 
                        ? value[col.field] 
                        : LANGAGE.EMPTY_COL
                }}</span>
            </ng-template>
        </p-cellEditor>
    </span>

    <span [pEditableColumn]="value" 
        [pEditableColumnField]="col.field" 
        *ngSwitchCase="'date'">
        <p-cellEditor>
            <ng-template pTemplate="input">
                <input pInputText 
                    [placeholder]=" col.placeholder ? col.placeholder : 'dd/mm/yyyy'" 
                    type="text" 
                    [(ngModel)]="value[col.field]" 
                    (ngModelChange)="onUpdate(value, col)"
                    [disabled]="col.disabled"
                    (focusout)="onEditSopped(col.field, value)"
                    (click)="onEditSopped(col.field, value)"
                    (keydown.esc)="onEditSopped(col.field, value)"
                    autocomplete="off">
            </ng-template>
            <ng-template pTemplate="output">
                <span (click)="clickEvent(col.field, value)">{{ value[col.field] ? (value[col.field] | date: 'dd/MM/yyyy') : LANGAGE.EMPTY_COL }}</span>
            </ng-template>
        </p-cellEditor>
    </span>

    <span [pEditableColumn]="value" 
        [pEditableColumnField]="col.field" 
        *ngSwitchCase="'pcalendar'">
        <p-cellEditor>
            <ng-template pTemplate="input">
                <p-calendar [(ngModel)]="value[col.field]" 
                    (ngModelChange)="onUpdate(value, col)"
                    [showIcon]="true" 
                    dateFormat="dd/mm/yy" 
                    [locale]="col.locale || locale" 
                    appendTo="body" 
                    size="10" 
                    icon="pi pi-calendar-plus"
                    [disabled]="col.disabled"
                    dataType="string"
                    (focusout)="onEditSopped(col.field, value)"
                    (click)="onEditSopped(col.field, value)"
                    (keydown.esc)="onEditSopped(col.field, value)"></p-calendar>
            </ng-template>
            <ng-template pTemplate="output">
                <span (click)="clickEvent(col.field, value)">{{ value[col.field] ? (value[col.field]) : LANGAGE.EMPTY_COL }}</span>
            </ng-template>
        </p-cellEditor>
    </span>

    <span [pEditableColumn]="value" 
        [pEditableColumnField]="col.field" 
        *ngSwitchCase="'spinner'">
        <p-cellEditor>
            <ng-template pTemplate="input">
                <p-spinner pInputText 
                    [placeholder]="col.placeholder ? col.placeholder : ''"
                    [(ngModel)]="value[col.field]" 
                    (ngModelChange)="onUpdate(value, col)"
                    [required]="col.required"
                    class="nsi-spinner"
                    [disabled]="col.disabled"
                    (focusout)="onEditSopped(col.field, value)"
                    (keydown.esc)="onEditSopped(col.field, value)">
                </p-spinner>
            </ng-template>
            <ng-template pTemplate="output">
                <span (click)="clickEvent(col.field, value)">{{ value[col.field] ? value[col.field] : LANGAGE.EMPTY_COL }}</span>
            </ng-template>
        </p-cellEditor>
    </span>
    <span [pEditableColumn]="value" 
        [pEditableColumnField]="col.field" 
        *ngSwitchCase="'password'">
        <p-cellEditor>
            <ng-template pTemplate="input">
                <input pPassword type="password" 
                [(ngModel)]="value[col.field]" 
                (ngModelChange)="onUpdate(value, col)"
                [placeholder]="col.placeholder ? col.placeholder : ''"
                [disabled]="col.disabled"
                (focusout)="onEditSopped(col.field, value)"
                (keydown.enter)="onEditSopped(col.field, value)"
                (keydown.esc)="onEditSopped(col.field, value)"
                autocomplete="off"
                value="" />
            </ng-template>
            <ng-template pTemplate="output">
                <span (click)="clickEvent(col.field, value)">{{ LANGAGE.EMPTY_COL }}</span>
            </ng-template>
        </p-cellEditor>
    </span>

    <span [pEditableColumn]="value" 
        [pEditableColumnField]="col.field" 
        *ngSwitchCase="'colorpicker'">
        <p-cellEditor>
            <ng-template pTemplate="input">
                <p-colorPicker [(ngModel)]="value[col.field]"
                    (ngModelChange)="onUpdate(value, col)"
                    appendTo="body"
                    [disabled]="col.disabled">
                </p-colorPicker>
            </ng-template>
            <ng-template pTemplate="output">
                <span (click)="clickEvent(col.field, value)"
                    [ngStyle]="{ backgroundColor: value[col.field], width: '100%', height: '100%' }">
                    {{ value[col.field] ? value[col.field] : LANGAGE.EMPTY_COL }}
                </span>
            </ng-template>
        </p-cellEditor>
    </span>

    <span *ngSwitchDefault>
        {{ value[col.field] }}
    </span>

</ng-container>

<p-toast [key]="toasterKey"></p-toast>